.tabs
  display: flex
  align-items: center
  justify-content: space-between

.tabs_items
  text-align: center
  height:40px
  line-height:40px
  border:1px solid #CACCD0
  border-radius:4px
  width:16.33%
  background-color:white
  var
    color:#F5222D
    padding-left:3px
    padding-right:3px

.content
  // margin-top:25px

.condition
  border-bottom: 1px solid #F0F2F5
  padding-bottom:25px
  button
    margin-left:12px

.condition_row
  padding-bottom:15px

.box_title
  margin-top:20px
  margin-bottom:10px

.modal_filed
  margin-bottom:20px

// ============
.goods_item
  border:1px solid #E8E8E8
  border-radius:4px
  margin-bottom:10px
  overflow hidden

.goods_order_box
  height:80px

.goods_ordermsg
  background-color:#FAFAFA
  border-bottom:1px solid #E8E8E8

.goods_orderNo
  padding-left:32px

.goods_order_time
  text-align: right
  padding-right:32px

.goods_head
  background-color:#FAFAFA
  color:#333333
  font-weight: bold
  height:50px

.goods_msg
  position:relative
  min-height: 56px
  padding-left:100px

.goods_img
  width:56px
  height:56px
  border-radius:6px
  position: absolute
  left:32px
  top:0

.goods_order_name
  padding-left:32px

.check_goods
  position: absolute
  left:7px
  top:16px

.goods_main
  padding-top:10px
  padding-bottom:10px