.field_box
  border-bottom:1px solid #F0F2F5
  margin-bottom:25px

.field
  text-align: right

.box_title
  margin-bottom: 20px

.dialog_import_order
  padding-left:50px
  padding-top:30px
  padding-bottom:30px

.import_order_orderid
  font-weight: bold

.roundStyle
  width: 6px
  height: 6px
  border-radius: 50%
  margin-right: 10px 
  font-size: 12px
.passStyle
   background: #52C41A
.notSubmit
  background: #BFBFBF
.inVerify
  background: #FAAD14
.failed
  background: #F5222D