.contentInner
  background-color:white
.stepMes
  padding-bottom 28px
.headInner
  display flex
  justify-content center
  align-items center
.oneHead
  display flex
  align-items center
  width 50%
  margin-bottom 42px
.lableName
  width 120px
.middleCon
  display:  flex
  align-items: center
  justify-content: center

.btnStyle
  width 100%
  justify-content center
  align-items center
  display flex
