.tabs
  display: flex
  align-items: center
  justify-content: space-between

.tabs_items
  text-align: center
  height:40px
  line-height:40px
  border:1px solid #CACCD0
  border-radius:4px
  width:16.33%
  background-color:white
  var
    color:#F5222D
    padding-left:3px
    padding-right:3px

.main
  margin-top:30px

.warper
  background-color:white
  padding-top:20px

.condition
  table
    width:100%
    th
      text-align: right
      height:50px
      width:120px

    th,td
      vertical-align: middle

.page_box
  border-top:1px solid #F0F2F5
  padding-left:20px
  padding-right:20px
  margin-top:25px
  padding-top:30px

.box_title
  margin-bottom:15px

.over24h
  background-color: #e6f7ff

.over24h_byplat
  background-color: #f6f0ff