.container
  min-height 707px
.info_box
  width 43%
  margin 0 auto
  padding 150px 0 0 0
.list
  width 104px
  height 104px
  border-radius 4px
  display inline-block
  background-size cover
  background-repeat no-repeat
  margin-right 10px
  cursor pointer
.tr
  text-align right
.img_box
  display flex
  flex-wrap wrap