.headTop
  border-bottom 1px solid #F0F2F5
.searchLable
  font-size:14px
  color:#666666
  width:50%
.colStyle 
  display: flex
  align-items: center 
  margin-bottom: 10px
  margin-right:5px
.selectStyle
  width: 148px
.selecOther
  margin-right: 10px
.box_title
  margin-top:10px
  padding-top:10px
  padding-bottom:10px 
.photoMes
  width:60px
  height 60px
  border-radius: 6px
  background:#F0F2F5
  img
    width:100%
    height:100%
    display: block
    border-radius: 6px

.roundStyle
  width: 6px
  height: 6px
  border-radius: 50%
  margin-right: 10px 
  font-size: 12px
.passStyle
   background: #52C41A
.notSubmit
  background: #BFBFBF
.inVerify
  background: #FAAD14
.failed
  background: #F5222D
.meStyle
  position: relative;
  margin: 0;
  padding: 4px 0;
  text-align: left;
  list-style-type: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  li
    clear: both;
    margin: 0;
    padding: 5px 12px;
    color: rgba(0,0,0,0.65);
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
.faTitle
  :globa
  .ant-modal-body
    padding-top:0;
    padding-bottom:0;
.allBtn
  width:16px
  margin-right:10px
.addStrct
   width: 16px
   height: 16px
   background: $theme-color
   display: flex
   justify-content: center
   align-items: center
   color:#fff
   margin-bottom:2px
   cursor: pointer
.btnStrct
  width: 16px
  height: 16px
  background: $theme-color
  display: flex
  justify-content: center
  align-items: center
  color:#fff
  cursor: pointer

