.container
    // min-height 600px
    position relative
    padding-bottom 100px
.add_new
    width 214px
    border-radius 4px
    border 1px solid rgba(24, 144, 255, 1)
    font-size 16px
    font-weight 400
    float right
    color rgba(24, 144, 255, 1)
.gray
    color rgba(153, 153, 153, 1)
    vertical-align bottom
.blue
    color rgba(24, 144, 255, 1)
    vertical-align bottom
.red 
   color red
.roundStyle
  width: 6px
  height: 6px
  border-radius: 50%
  margin-right: 10px 
  font-size: 12px
:global
    .ant-select
        width 100%