.container
  padding-bottom 93px
.user_title
  height 42px
  font-size 30px
  font-weight 500
  color rgba(0, 0, 0, 0.85)
  line-height 42px
  text-align center
  margin-bottom 32px
.info
  width 46%
  margin 0 auto
.list
  display inline-block
  background-size cover
  width 104px
  height 104px
  border-radius 4px
  background-repeat no-repeat
  margin-right 8px