.container
  position relative
  min-height 700px
.btn_list
  width 273px
  height 40px
  background rgba(255, 255, 255, 1)
  border-radius 4px
  border 1px solid rgba(202, 204, 208, 1)
  font-size 14px
  font-weight 600
  color rgba(51, 51, 51, 1)
  line-height 40px
  text-align center
  display inline-block
  margin 0 12px 8px 0
.btn_num
  color #FA474B
.search
  padding 16px 12px 24px 16px
  box-shadow 0px 0px 20px 0px rgba(231, 197, 211, 0.24)
  border-radius 0px 6px 0px 0px
  background rgba(255, 255, 255, 1)
