/*
 * @Author: limin.zhang
 * @Date: 2020-05-11 10:12:44
 * @LastEditTime: 2020-05-11 10:12:44
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: /supplier/src/pages/financial/manualpaylist/index.js
 */
.field_box
  border-bottom:1px solid #F0F2F5
  margin-bottom:25px

.field
  text-align: left 


.box_title
  margin-bottom: 20px

.dialog_import_order
  padding-left:50px
  padding-top:30px
  padding-bottom:30px

.import_order_orderid
  font-weight: bold

.roundStyle
  width: 6px
  height: 6px
  border-radius: 50%
  margin-right: 10px 
  font-size: 12px
.passStyle
   background: #52C41A
.notSubmit
  background: #BFBFBF
.inVerify
  background: #FAAD14
.failed
  background: #F5222D
.firstColor
  background: #F9522E
  color:#fff


.item_box
  border: 1px solid rgba(232, 232, 232, 1)
  border-radius: 4px
  .item
    display: flex
    align-items: center
    font-size: 12px
    .label
      width: 140px
      background: rgba(250, 250, 250, 1)
      color: #333333
      text-align: center
      display: block
      height: 50px
      line-height: 50px
      font-weight: bold
    .right
      flex: 1
      display: flex
      align-items: center
      padding: 10px 30px
      .copy_button
        color: rgba(24, 144, 255, 1)
        margin-left: 10px
        cursor pointer
  .item+.item
    border-top:1px solid rgba(232, 232, 232, 1)
.item_box+.item_box
  margin-top: 10px